h1{
  text-align: center;
  margin-top: 2rem;
}


/* List  */

table{
  margin: 20px auto;
  border-radius: 2rem; 
  border-collapse: separate;
  overflow: hidden;
  border-spacing: 0;
  border-radius: 0.25rem;

}

thead{
  background-color: #adc5dd;
  border: none;
}


th,td{
  padding: 1rem 0.2rem 0.7rem 1rem;
  text-align: left;
  border-bottom: solid 1px #37699a62;
  font-size: 0.8rem;
}

.table__buttons{
  padding: 0;
  height: 120px;
}

.table__buttons >  form{
  display: inline-block;
  margin:auto auto;
}




.table__buttons .btn--edit{
  background-color: #ffc574;
  &:hover{
    background-color: #fcce8e;
    color: #5b5b5b;
  }
}

.table__buttons .btn--delete{
  background-color: #ff817d;
  margin: 16px 0;
  cursor: pointer;
  &:hover{
    background-color: #fe9a96;
    color: #515151;
  }
}





